.logo{
	width: 150px;
	height: 40px;
}


.navbar-logo{
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}

.nav-link{
	color: #ffffff;
}

body{
	background: #000000;
}

.navbar-toggler{
    width: 40px;
    height: 22px;
    background-color: transparent;
    border:none;
}

.navbar-toggler .line{
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

/*Medidas para formato responsive*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .navbar{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar{
        margin-left: 20px;
        margin-right: 00px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar{
        margin-left: 20px;
        margin-right: 70px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .navbar{
        margin-left: 50px;
        margin-right: 70px;
    }
}

