.logo {
    width: 150px;
    height: 40px;
}


.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.nav-link {
    color: #ffffff;
}

body {
    background: #000000;
}

.navbar-toggler {
    width: 40px;
    height: 22px;
    background-color: transparent;
    border: none;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.nav_background:hover {
    background-color: #0066ff;
    color: #fff;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .copyright li  {
        left: -7%;
        position:relative;
    }
    .header {
        background-size: cover;
        /* rendered image, preserving autoproportion */
        min-height: 100vh;
        /* Relative to 1% of the height of the viewport */
    }

    #particleWrapper {
        position: relative;
        width: auto;
        /* puedes cambiar este valor por lo que desea en px  ya que si la pagina tiene scroll esto ayuda a que las particulas cubran todo el auto es la mejor opcion porque se adapta*/
        height: auto;
        /* puedes cambiar este valor por lo que desea en px  ya que si la pagina tiene scroll esto ayuda a que las particulas cubran todo el auto es la mejor opcion porque se adapta*/
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: fixed;
    }

    
    .social-links li {
        display: inline;
        width: 50%;
    }

    .social-links li a {
        color: #fff;
        opacity: 0.4;
    }

    .social-links li a:hover {
        color: #fff;
        opacity: 3;
    }

    /*Reusable effect ---------------------------------------------------------------------------------------------------- */
    .main_title {
        position: fixed;/* The element is positioned relative to its first positioned (not static) ancestor element */
        left: 52%;/* left separation */
        height: 30%;
        /*width: 50%;*/
        margin: -5% 0 0 -40%;/*top - left*/
         text-align: center;
         padding: center;


    }

    /*Index.html ---------------------------------------------------------------------------------------------------- */

    .name {
        color: #FFF;
        /* Text color */
        top: 40%;
        /* Top separation */
    }

    .typewriter {
        position: fixed; /*Fixed helps that when I click the toggle button the name and typewriter does not move*/
        top: 65%;
        left: 50%;
        height: 30%;
        width: 80%;
        margin: -20% 0 0 -40%;
        color: #0066ff;
        text-align: center;
    }

     /*About.html ---------------------------------------------------------------------------------------------------- */  
    .about_question {
        color: #0066ff;
        top: 15%;
        left: 40%;
        height: auto;
        margin: 0 0 0 -18%;
    }

    .about_description {
        position: fixed;
        /* The element is positioned relative to its first positioned (not static) ancestor element */
        top: 38%;
        /* Top separation */
        left: 30%;
        /* left separation */
        height: 30%;
        width: 90%;
        margin: -15% 0 0 -25%;
        /*left - right*/
        color: #FFFFFF;
        text-align: justify;
        /*It's a justify text*/
        font-size: 16px;

    }

     /*Portfolio.html ----------------------------------------------------------------------------------------------------------*/

    .card {
        background-color: transparent;
        color: #fff;
        opacity: 0.4;
    }

    .card:hover {
        opacity: 1;
    }

   .web_footer_portfolio {
        width: 100%;
        padding-top: 120px;
        padding: 1rem;
        text-align: center;
        bottom: 0;
        position: fixed;
    }

    .web_footer_portfolio_fix {
        width: 100%;
        padding-top: 120px;
        padding: 1rem;
        text-align: center;
        bottom: 0;
        position: relative;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {   }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


    .navbar {
        margin-left: 80px;
        /* Left margin separation */
        margin-right: 70px;
        /* Right margin separation */
    }

    .header {
        background-size: cover;
        /* rendered image, preserving autoproportion */
        min-height: 100vh;
        /* Relative to 1% of the height of the viewport */
    }

    #particleWrapper {
        position: relative;
        width: auto;
        /* puedes cambiar este valor por lo que desea en px  ya que si la pagina tiene scroll esto ayuda a que las particulas cubran todo el auto es la mejor opcion porque se adapta*/
        height: auto;
        /* puedes cambiar este valor por lo que desea en px  ya que si la pagina tiene scroll esto ayuda a que las particulas cubran todo el auto es la mejor opcion porque se adapta*/
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        background-image: url("");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        background-attachment: fixed;
    }

    .web_footer {
        width: 100%;
        padding-top: 120px;
        padding: 1rem;
        text-align: center;
        margin-top: 55px;
    }

    .social-links li {
        display: inline;
        width: 50%;
    }

    .social-links li a {
        color: #fff;
        opacity: 0.4;
    }

    .social-links li a:hover {
        color: #fff;
        opacity: 3;
    }

    /*Reusable effect ---------------------------------------------------------------------------------------------------- */
    .vanish_effect {
        float: right;
        /* The float property specifies whether an element should float to the left, right, or not at all. */
        opacity: 0.4;
        /* When you hover over the image, the image will be displayed. */
        padding-right: 140px;
        /* inside distance right */
        padding-top: 60px;
        /* inside distance right */
        transition: opacity 0.3s;
    }

    .main_title {
        position: absolute;
        /* The element is positioned relative to its first positioned (not static) ancestor element */
        left: 50%;
        /* left separation */
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
        /*Top - left*/


    }



    /*Index.html ---------------------------------------------------------------------------------------------------- */
    .intro {
        content: url(../img/projects.png);
        /*project image*/
    }

    .intro:hover {
        opacity: 1;
        /* When you hover over the image, the image will be displayed. */
    }

    .name {
        color: #FFF;
        /* Text color */
        top: 60%;
        /* Top separation */
    }

    .typewriter {
        position: absolute;
        top: 70%;
        left: 50%;
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
        color: #0066ff;
        text-align: justify;
    }

    /*About.html ---------------------------------------------------------------------------------------------------- */
    .about_intro {
        filter: grayscale(100%);
        /* Gray image*/
        content: url(../img/about.png);
        /* My pictures */
        max-width: auto;
        /* the div was adjusted to the picture dimensions */
        max-height: auto;
        /* the div was adjusted to the picture dimensions */
    }

    .about_intro:hover {
        filter: grayscale(0%);
        /*Original picture*/
        opacity: 1;
        /* When you hover over the image, the original image will be displayed. */
    }

    .about_question {
        color: #0066ff;
        /* Text color */
        top: 30%;
        /* Top separation */
    }

    .about_description {
        position: absolute;
        /* The element is positioned relative to its first positioned (not static) ancestor element */
        top: 45%;
        /* Top separation */
        left: 50%;
        /* left separation */
        height: 30%;
        width: 50%;
        margin: -15% 0 0 -25%;
        /*left - right*/
        color: #FFFFFF;
        text-align: justify;
        /*It's a justify text*/
    }

    /*Portfolio.html ----------------------------------------------------------------------------------------------------------*/

    .card {
        background-color: transparent;
        color: #fff;
        opacity: 0.4;
    }

    .card:hover {
        opacity: 1;
    }
}