.logo {
    width: 150px;
    height: 40px;
}


.navbar-logo {
    display: inline-block;
    vertical-align: middle;
    width: 70px;
}

.nav-link {
    color: #ffffff;
}

body {
    background: #000000;
}

.navbar-toggler {
    width: 40px;
    height: 22px;
    background-color: transparent;
    border: none;
}

.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

/*Medidas para formato responsive*/

/* Responsive que aplicara propiedades hasta 992px */
@media only screen and (max-width: 992px) {
    .navbar {
        margin-left: 30px;
        margin-right: 30px;
    }

    .header {
        background: url(../img/intro_projects.png) no-repeat center;
        background-size: cover;
        min-height: 100vh;
    }

    .proyectos_intro {
        content: url(../img/projects_responsive.png);
        opacity: 0.4;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        /*Centrar imagen*/
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: fixed;

        /*Adaptar imagen cuando sea responsive*/
        width: 100%;
        max-width: 100%;
    }
    /*Pasar puntero*/
     .proyectos_intro:hover {
        opacity: 1;
    }

}

/* Responsive que aplicara propiedades a partir de 993px */
@media only screen and (min-width: 993px) {
    .navbar {
        margin-left: 20px;
        margin-right: 70px;
    }

    .header {
        background: url(../img/intro_projects.png) no-repeat center;
        background-size: cover;
        min-height: 100vh;
    }

    /*Desvanecer*/
    .proyectos_intro {
        float: right;
        content: url(../img/projects.png);
        opacity: 0.4;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    /*Pasar puntero*/
    .proyectos_intro:hover {
        opacity: 1;
    }
}